body,
html {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

header {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  background-image: url("./public/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  background-attachment: fixed;
  background-position: center center;
}

.title {
  margin: 0;
  font-size: 78px;
  padding-top: 10px;
  letter-spacing: 0.25rem;
  text-align: center;
  font-family: "oregano", cursive;
  margin-bottom: 90px;
}

.goal {
  margin: 0 25px;
  padding: 0;
  font-size: 30px;
  font-weight: 200;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 125%;
  margin-bottom: 20vh;
}

.mailing-list-button {
  border: none;
  background-color: #007fff;
  color: white;
  width: 275px;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  height: 70px;
  letter-spacing: -0.05rem;
}

.arrow {
  position: relative;
  margin-top: 20vh;
  animation: arrow-animation 4s ease 0s infinite;
}

.line {
  position: absolute;
  height: 40px;
  left: 50%;
  border-left: 3px solid white;
}

.head {
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 16px;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
