body,
html {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

header {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  background-image: url("./public/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
  background-position: center center;
}

.title {
  margin: 0 auto;
  display: block;
  padding-top: 10px;
  margin-bottom: 40px;
  width: 100px;
}

.goal {
  margin: 0 25px;
  padding: 0;
  font-size: 24px;
  font-weight: 200;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 125%;
  margin-bottom: 20vh;
}

.button-mailing-list {
  background-color: #007fff;
}

.button {
  border: none;
  color: white;
  width: 275px;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  height: 70px;
  letter-spacing: -0.05rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.arrow {
  position: relative;
  margin-top: 20vh;
  animation: arrow-animation 4s ease 0s infinite;
}

.line {
  position: absolute;
  height: 40px;
  left: 50%;
  border-left: 3px solid white;
}

.head {
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 16px;
}

#mailing-list {
  background-color: #0ead69;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.mailing-list-text {
  padding-top: 15px;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.mailing-list-form {
  margin-top: 44px;
  display: block;
  padding-bottom: 38px;
}

.form-label {
  display: block;
  color: white;
  padding-left: 13px;
  padding-bottom: 6px;
  font-size: 16px;
}

#email {
  width: 100%;
  border: 2px solid white;
  padding: 11px 13px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 21px;
  outline: none;
}

#mission {
  background-color: #e5e5e5;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.mission-statement {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  text-align: center;
}

#email::placeholder {
  color: white;
}

.button-submit {
  background-color: #e8c547;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

#solutions {
  background-color: black;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.solution-header {
  display: flex;
  align-items: center;
}

.solution-icon-container {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-icon {
  width: 50px;
  height: 50px;
}

.solution-name {
  color: white;
  font-size: 48px;
  letter-spacing: 2.5%;
  margin: 0;
  margin-left: 22px;
  font-weight: 400;
}

.solution-text {
  font-size: 20px;
  letter-spacing: 2.5%;
  line-height: 150%;
  color: white;
}

.solution-icon-local {
  background-color: #007fff;
}

.solution-icon-fresh {
  background-color: #0ead69;
}

.solution-icon-fast {
  background-color: #e8c547;
}
